/*body
{
    background-image: linear-gradient(to top, #9be15d 0%, #00e3ae 100%);
}*/
.col-md-7{
    margin-top: 150px !important;
    background-color: whitesmoke;
    padding:20px;
}
h1{
    background-color: blue;
    color: white;
}
input,label{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}
    
    
